<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, intial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    
    <!--title--------------------------------->
    <title>Thomas Marconi's Website</title>

    <!--stylesheet-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/article.css') }}"/>

    <!--tab-icon-->
    <link rel="icon" href="images/skate.jpg"/>

    <!--poppins-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

  </head>
  <body>
	<!--Nav-Section-->
	<nav>
		<input type="checkbox" id="check">
		<label for="check" class="checkbtn">
			<div class="icon-wrapper">
				<i class="fas fa-bars"></i>
			</div>
		</label>
		<label class="logo"><a href="/">Marconi's Blog</a></label>
		<ul>
			<li><a href="https://www.marconi.bio">Home</a></li>
			<li><a class="active" href="https://www.marconi.bio/about">About Me</a></li>
			<li><a href="https://www.canva.com/design/DAFfthfnKnc/UE-Zu8Gda_j-y57EDO0Now/view?utm_content=DAFfthfnKnc&utm_campaign=designshare&utm_medium=link&utm_source=publishsharelink">Resume</a></li>
			<li><a href="https://github.com/thomasmarconi">GitHub</a></li>
			<li><a href="https://www.linkedin.com/in/thomasmarconi">LinkedIn</a></li>
			<li><a href="https://www.marconi.bio/info">Website Info</a></li>
		</ul>
	</nav>

	<article>
		<div class="blog-heading">
			<h3>About Me</h3>
		</div>
		<figure>
			<img class="size-4" src="/images/Headshot.jpg"></img> <!-- width="400px" height="auto" ALIGN=”left” HSPACE=”50” VSPACE=”50></img>-->	
		</figure>
		<h2>Intro</h2>
		<p>Hello, welcome to my website! My name is Thomas Marconi. I’m honored you would take a moment to read about me and my life. I am a recent graduate of Florida State University with a B.S. in Computer Science who has a passion for cybersecurity and self-improvement. I’m a self-starter with a lot of grit and determination and a strong love for God and country.</p>
		<h2>Mission Statement</h2>
		<p>I desire to be on the front lines of information security, doing battle with malicious actors and stopping them in their tracks before they can harm the good people of our society.</p>
		<h2>My Story</h2>

		<p>
		I was born in Baltimore, Maryland, and lived there until my family relocated to Panama City, Florida when I was 13. Those early years shaped me in many ways as I discovered my love for music and technology through playing the saxophone and building my first computer. Despite facing challenges when my father lost his job, which caused our move to Panama City, we managed to overcome them with the belief that it was part of a greater plan.</p>

		<p>
		Starting a new middle school in Panama City was difficult as I had to navigate a new town and make new friends. However, I made the best of it and focused on excelling in my studies, forging great friendships, and growing in my faith. In high school, I joined the advanced program and formed close bonds with fellow students, particularly through our participation in the school marching band. Serving as the saxophone section leader during my senior year, I discovered my passion for teaching and guiding others.</p>

		<p>
		Simultaneously, I immersed myself in rigorous AP and Dual Enrollment classes, which instilled in me the tenacity and grit I proudly carry today. Additionally, my involvement in the church's youth group allowed me to deepen my faith and develop a strong interest in theology, philosophy, and introspection.</p>

		<p>
		As high school drew to a close, I faced the daunting task of deciding what to study and where to attend college. Despite being accepted into multiple universities, I ultimately chose Florida State University due to financial considerations, aided by the Florida Bright Futures scholarship. Initially pursuing a pre-med track with the ambition of becoming a trauma surgeon, I found myself growing dispassionate about my coursework midway through my sophomore year.</p>

		<p>
		A close friend, graduating with a degree in computer science, encouraged me to explore programming. I enrolled in an introductory course in C++ and, to my delight, discovered a newfound love. The class captivated me, and I would spend hours engrossed in coding assignments, finding immense fulfillment in solving complex problems and witnessing my creations come to life. It was the first time in college that I genuinely enjoyed my academic pursuits, prompting me to change my major to Computer Science.</p>

		<p>Over the next few years, I delved deeper into coding, security, and computer architecture. My education exposed me to various fascinating subjects, such as Offensive Computer Security and Secure, Parallel, and Distributed Computing with Python, where I developed my first website. Courses like Data Structures I & II further enhanced my understanding of different data structures. Through this journey, I realized my passion for cybersecurity, as I became captivated by the ever-changing nature of the field and the constant challenge it presents.</p>
		<p>
		Today, armed with a clear career goal and the necessary skills, I am determined to pursue a career in cybersecurity. I am genuinely passionate about the subject and eager to contribute to information security on the front lines.</p>

	</article>
  	</body>
</html>
