<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, intial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		
		<!--title--------------------------------->
		<title>Thomas Marconi's Website</title>

		<!--stylesheet-->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}"/>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/article.css') }}"/>

		<!--tab-icon-->
		<link rel="icon" href="images/skate.jpg"/>

		<!--poppins-->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

  	</head>
  	<body>
		<!--Nav-Section-->
		<nav>
			<input type="checkbox" id="check">
			<label for="check" class="checkbtn">
				<div class="icon-wrapper">
					<i class="fas fa-bars"></i>
				</div>
			</label>
			<label class="logo"><a href="/">Marconi's Blog</a></label>
			<ul>
				<li><a href="https://www.marconi.bio">Home</a></li>
				<li><a class="active" href="https://www.marconi.bio/about">About Me</a></li>
				<li><a href="https://www.canva.com/design/DAFfthfnKnc/UE-Zu8Gda_j-y57EDO0Now/view?utm_content=DAFfthfnKnc&utm_campaign=designshare&utm_medium=link&utm_source=publishsharelink">Resume</a></li>
				<li><a href="https://github.com/thomasmarconi">GitHub</a></li>
				<li><a href="https://www.linkedin.com/in/thomasmarconi">LinkedIn</a></li>
				<li><a href="https://www.marconi.bio/info">Website Info</a></li>
			</ul>
		</nav>
	</body>
</html>
